
<h1>画像を編集する</h1>

<%= render 'form', picture: @picture %>
<% if @picture.user == current_user %>
<%= link_to '確認', @picture , class: "btn btn-xs btn-primary" %>|
<% end %>
<%= link_to '戻る', pictures_path  , class: "btn btn-xs btn-primary"%>
</div>
