<div class="col-xs-12 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
  <h1>画像を編集する</h1>
  <div class="canvas_wrapper">
    <canvas id="screen_image" width="300" height="420"></canvas>
  </div>
  <script src="bundle.js"></script>
  <%= render 'form', picture: @picture %>
  <div class="btn_box">
  <% if @picture.user == current_user %>
    <%= link_to '確認', picture_path(@picture) , class: "btn btn-xs btn-primary" %>|
  <% end %>
  <%= link_to '一覧へ', pictures_path , class: "btn btn-xs btn-primary"%>
  </div>
</div>
