<div class="col-xs-12 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
<h1>新しいレシート</h1>
<%= render 'form', picture: @picture %>
<div class="btn_box">
<%= link_to 'Back', pictures_path %>
</div>
</div>
