// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron{
  color: #fff;
 background-image:image-url("Photoelly037.jpg");
 background-size: cover;
  height: 420px;
}
h1{
  text-align: center;
}

#new-picture-link{
  text-align: center;
}
